{

  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/unitTest/*.spec.(js|jsx)"
          ]
        }]
      ]
    }
  },
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ]
}
