language: node_js
node_js:
  - "0.10"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install --quiet -g grunt-cli karma bower codeclimate-test-reporter
  - npm install
  - bower install --dev --config.interactive=0

script:
  - grunt karma:unit

after_script:
  - codeclimate-test-reporter < reports/coverage/*/lcov.info

addons:
  code_climate:
    repo_token: bf097e69813d9d00ac67660685fc91f054fd48390035a738e97794acd438af20
