// Callout styles

.callout
  margin: 20px 0
  padding: 20px
  border-left: 3px solid $clr-pure-light-gray

.callout h4
  margin-top: 0
  margin-bottom: 5px

.callout p:last-child
  margin-bottom: 0

.callout-danger
  border-color: $callout-danger-border
  background-color: $callout-danger-bg

.callout-danger h4
  color: $callout-danger-heading

.callout-warning
  border-color: $callout-warning-border
  background-color: $callout-warning-bg

.callout-warning h4
  color: $callout-warning-heading

.callout-info
  border-color: $callout-border-heading
  background-color: $callout-background-heading

.callout-info h4
  color: $callout-info-heading
