$clr-white = #fff
$clr-black = #000

$clr-almost-white = #fafafa
$clr-pure-light-gray = #eee
$clr-light-gray = #e5e5e5
$clr-mid-light-gray = #ddd
$clr-light-gray = #bbb

$clr-soft-black = rgba(0, 0, 0, .075)
$clr-soft-text-black = rgba(0, 0, 0, .15)
$clr-soft-white = rgba(255, 255, 255, .1)

$brand-primary = #2299bb
$clr-blue-ocean = #428bca
$clr-dark-ocean = #316391


// Callout colours
$callout-danger-border = #eed3d7
$callout-danger-bg = #fdf7f7
$callout-danger-heading = #b94a48

$callout-warning-border = #faebcc
$callout-warning-bg = #faf8f0
$callout-warning-heading = #8a6d3b

$callout-info-border = #bce8f1
$callout-info-bg = #f4f8fa
$callout-info-heading = #34789a
